@model List<ProyectoCore.Models.Recibo>
@{

    ViewData["Title"] = "Recibo";
}

<div class="text-center">
    <h1 class="display-4">Recibo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de recibos</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Recibo_Detalle" asp-controller="Home" asp-route-idRecibo="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>metodo de pago</th>
                    <th>id carrito</th>
                    <th>subtotal</th>
                    <th>impuestos</th>
                    <th>campo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.oMetodoPago?.TipoMetodo</td>
                        <td>@item.oCarrito?.IdCarrito</td>
                        <td>@item.Subtotal</td>
                        <td>@item.Impuestos</td>
                        <td>@item.Campo</td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="Recibo_Detalle" asp-controller="Home" asp-route-idRecibo="@item.IdRecibo"> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="Eliminar_Recibo" asp-controller="Home" asp-route-idRecibo="@item.IdRecibo"> Eliminar</a>
                        </td>
                    </tr>



                }
            </tbody>
        </table>


    </div>
</div>


