@model List<ProyectoCore.Models.Producto>
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de productos</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Producto_Detalle" asp-controller="Home" asp-route-idProducto="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>producto</th>
                    <th>categoria</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>stock</th>
                    <th>imagen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.oCategorium?.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                        <td>@item.Stock</td>
                        <td>@item.Imagen</td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="Producto_Detalle" asp-controller="Home" asp-route-idProducto="@item.IdProducto"> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="Eliminar" asp-controller="Home" asp-route-idProducto="@item.IdProducto"> Eliminar</a>  
                        </td>
                    </tr>



                }
            </tbody>
        </table>


    </div>
</div>
