@model List<ProyectoCore.Models.RolesUsuario>
@{

    ViewData["Title"] = "RolesUsuario";
}

<div class="text-center">
    <h1 class="display-4">Roles Usuario</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de Roles Usuario</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="RolesUsuario_Detalle" asp-controller="Home" asp-route-idRolesUsuario="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>idRoles</th>
                    <th>idUsuario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.oRole.IdRoles</td>
                        <td>@item.oUsuario.IdUsuario</td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="RolesUsuario_Detalle" asp-controller="Home" asp-route-idRoles="@item.IdRoles" asp-route-idUsuario="@item.IdUsuario"> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="Eliminar_RolesUsuario" asp-controller="Home" asp-route-idRoles="@item.IdRoles" asp-route-idUsuario="@item.IdUsuario"> Eliminar</a>
                        </td>
                    </tr>



                }
            </tbody>
        </table>


    </div>
</div>





